# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\anonymous-hub\SAROD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
